p {}	
#para1 {
  	text-align: center;
  	color: deeppink;
    font-size: 30px;
}
#title1 {
    font-size: 30px;
    text-align: center;
    color: purple;
}
#title {
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
	}
#para2 {
  	text-align: right;
    color: darkgreen;
    font-size: 24px;
}

